body {
  background: url("../img/green.jpg");
  background-size: 100%;
  color: white;
}
.card {
  float: left;
  width: 120px;
  border-radius: 5px;
  height: 167px;
  margin-right: 20px;
}

.covered {
  background: url("../img/card-back.png");
  background-size: auto;
  padding: 167px 120px 0px 0px;
  width:0px;
  height: 0px;
  overflow: hidden;
}

.hand {
  overflow: auto;
}
